extends ../layout.pug

block cdn-bootstrap
 h1= message
 form(action='/book/search' method='get')
   input(type='text' name='q')
   button Search
 
   .container.nana
     h3.panel-title  List books
     each book in books 
      .card(style='width: 18rem;')
       img.card-img-top(alt='Card image cap', src='http://t0.gstatic.com/images?q=tbn:ANd9GcSBKMPzDVbtF5CbW9hO2myo0Z_RegBgZ9CGh9F04QLGhtyDZgGL3HdSs9VVIXNVvftmbvC5SkuNCs6GxRpeLrM', height='200px', width='150px')
       .card-body
        h5.card-title  Name :
         span= book.title
        p.card-text  Price : 
        a.btn.btn-primary(href=`/book/view/${book.id}`) View more
        a(href='/cart/add/' + book.id) Thuê


 script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js')
 script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
 script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
