//- layout.pug
html
  head
    title Nana CodersX
    link(id="favicon", rel="icon", href="https://cdn.glitch.com/1eeeaa03-4c95-4acc-925a-ac933fed2ce6%2FcodersX.png?v=1587615408346")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://pro.fontawesome.com/releases/v5.10.0/css/all.css', integrity='sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p', crossorigin='anonymous')
    link(rel="stylesheet", href="/style.css")
    block scripts
      script(src='/jquery.js')
  body

    nav.navbar.navbar-expand-lg.navbar-light(style='background-color: #e3f2fd;')
      a.navbar-brand(href='#') Navbar
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item.active
            a.nav-link(href='#')
              | Home 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='/user') user
          li.nav-item
            a.nav-link(href='/book') book
          li.nav-item
            a.nav-link(href='/transaction') transaction
      i.fas.fa-shopping-cart
      span= sum
      if(user)
        img.avatar(alt='Card image cap', src=`${user.avatar}`)
        a(href='/user/edit')= user.username

    block cdn-bootstrap
  
    block navbar   
    block content
  