/* * {
  display: none !important;
}  */
.avatar{
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.nana>div{
  display: inline-block;
  border-radius:10px ;
  margin: 20px;
  background-color: #EAF2F8 ;
}
img{
  border-radius: 10px;
}
.card-body{
  margin: 20px;
}
.fa-shopping-cart{
  color:#9bc17b;
  font-size: 30px;
}
