extends ../layout.pug

block cdn-bootstrap

 p user:
   span &nbsp
   span= user.username
   button.btn.btn-primary(type='button', data-toggle='modal', data-target='#myModal') Edit profile
   #myModal.modal
       .modal-dialog
        form.modal-content(role='form', method='POST', action='/user/edit', enctype="multipart/form-data")
         .modal-header
          h4.modal-title Update username
          button.close(type='button', data-dismiss='modal') &times;
    
         .modal-body 
           .form-group
             label  username
             input.form-control(type='text', name='username', placeholder='')
           .form-group
             label(for='form2')  Add file image :
             input#avatar.white-text.form-control(type='file', name='avatar')
         .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
          input(type='hidden', name='_method', value='PUT')
          button.btn.btn-primary(type='submit') Update
 script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js')
 script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
 script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
