extends ../layout.pug

block cdn-bootstrap
 h1= message
 if user 
  p= user.username
 form(action='/user/search' method='get')
   input(type='text' name='q')
   button Search
   .row
    .col-4
      ul.list-group
       each user in users
         li.list-group-item= user.username
          a(href=`/user/view/${user.id}`) view
    .col-8     

 script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js')
 script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
 script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
