extends ../layout.pug

block cdn-bootstrap
 h2 Transaction

 form(action='/transaction/create' method="POST")
  lable.form-control-sm Book title:
  select(name="bookId")
    each book in books
      option(value=book.id)= book.title
  lable.form-control-sm User name:
  select(name="userId")
    each user in users
      option(value=user.id)= user.username
  span &nbsp    
  button.btn.btn-primary create
