
extends ../layout.pug

block cdn-bootstrap
  h2 Transaction

  ul.list-group.list-group-flush
    each transaction in transactions
      li.list-group-item.disabled
        span Book title: 
        span= transaction.bookTitle
        br
        span Borrower: 
        span= transaction.userName
        br
        span Status: 
        if(transaction.isComplete==false)
          a(href="#") Chua tra
        else
          a(href=`/transaction/${transaction.id}/finish`) Da tra 